@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kode+Mono:wght@400..700&display=swap");

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fbf7f5;
  min-height: 100%;
}

#root {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.recoGenre {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.recoGenreItem {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 15px;
}

.Invis {
  display: none;
}

.readingList {
  height: 500px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  margin-left: -100px;
}

.readItem {
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  text-align: center;
  height: 100%;
  margin: 15px;
  justify-content: space-between;
  background-color: #fbf7f5;
}

.readItem:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px lightgray;
}

.readImage {
  height: 70%;
  width: 100%;
  overflow: hidden;
}

.readImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.readText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20%;
}

.readButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.readDiv {
  height: 650px;
  background-color: #f2ebde;
  margin-top: 30px;
}

button {
  color: black;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 36px;
  line-height: 34px;
  font-size: 14px;
  color: #241c15;
  background-color: #efeeea;
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
  padding: 0 18px;
}

button:hover {
  color: #241c15;
  background-color: #d9d7cd;
}

.genreRemoveButton {
  all: unset;
}

.searchInput {
  height: 35px;
  border: solid #efeeea;
  background-color: whitesmoke;
  color: black;
  font-size: 14px;
}

.logoImage img {
  height: 100px;
  width: 150px;
}

.RecoList {
  height: 500px;
  width: 1200px;
  display: flex;
  flex-direction: row;
}

.recoItem {
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  text-align: center;
  height: 100%;
  margin: 15px;
  justify-content: space-between;
  background-color: #f2ebde;
}

.recoItem:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px lightgray;
}

.recoImage {
  height: 70%;
  width: 100%;
  overflow: hidden;
}

.recoImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recoText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20%;
}

.recoButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topPart {
  text-align: center;
}

.readListHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  padding-top: 15px;
}

.readListLink {
  color: black;
}

h2 {
  font-family: "Archivo Black", sans-serif;
}

.recoHeader {
  padding: 0px 15px;
}

.recoMoreButton {
  margin-top: 30px;
  text-align: right;
}

.loading {
  margin-left: 10px;
}

.fullReadingList {
  height: 500px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.fullReadHeader {
  text-align: center;
}

.fullReadWrapper {
  height: auto;
  background-color: #f2ebde;
  align-items: center;
}

.fullReadWrapper,
.readerWrapper,
.recoWrapper {
  display: flex;
  justify-content: center;
}

.recoCard {
  position: relative;
  perspective: 1000px;
  width: 100%;
  height: 100%;
}

.recoCard__front,
.recoCard__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s;
  overflow: hidden;
  color: white;
}

.recoCard__front {
  background-color: black;
  z-index: 2;
}

.recoCard__back {
  background-color: black;
  transform: rotateY(180deg);
}

.recoCard:hover .recoCard__front {
  transform: rotateY(-180deg);
}

.recoCard:hover .recoCard__back {
  transform: rotateY(0deg);
}

.RecoList {
  margin-left: -100px;
}

select {
  color: black;
  height: auto;
  padding: 10px;
}

/* .selectStyle {
  height: 50px;
} */

.recoGenreList {
  display: flex;
  flex-direction: row;
}

.recoGenreDrop {
  display: flex;
  flex-direction: row;
}

.RecoDiv {
  margin-top: 20px;
}
